<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>twitter</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="w-full min-h-screen bg-zinc-800">
    <h1 class="  text-zinc-200  text-xl ml-4 ">login</h1>
     <form action="/register" method="post" class="px-6 m-8">
  
     <input class="flex flex-wrap rounded-md mt-4 p-4 bg-zinc-500 text-zinc-200 border-zinc-200 outline-none "  type="email" name="email" placeholder="email">
     <input class="flex flex-wrap rounded-md mt-4 p-4 bg-zinc-500 text-zinc-200 border-zinc-200 outline-none "  type="password" name="password" placeholder="password">
     <button class="flex flex-wrap rounded-md mt-4 p-4 bg-blue-500 wx-8 text-zinc-800 border-zinc-200 outline-none "  type="submit" >Log In</button>
    </form> 
    
</body>
</html>